body{
	margin:0;
}

.content{
	height:100vh;
	width:100%;
	background-image: url('https://unsplash.it/1920/1080');
	padding:13em 0;
}

.content h1, .content h3{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color:#fff;
	margin-top:1em;
	font-size: 1.8rem;
}